/*
Project-specific styles. For details, see:
https://www.docsy.dev/docs/content/lookandfeel/#project-style-files
*/

// Dark mode enhancements
@import 'td/color-adjustments-dark';
@import 'td/code-dark';
@import 'td/gcs-search-dark';

// PixelDigivolve font
@font-face {
    font-family: 'PixelDigivolve';
    src: url('/fonts/PixelDigivolve-mOm9.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PixelDigivolve';
    src: url('/fonts/PixelDigivolveItalic-dV8R.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

// Navbar brand text
.navbar-brand {
    font-family: 'PixelDigivolve', monospace;
}

// Responsive YouTube embed
.video-embed {
    position: relative;
    width: 100%;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 16 / 9;
    box-sizing: border-box;
    margin-bottom: 2em;

    @media (max-width: 600px) {
        width: calc(100vw - 2rem);
        left: 50%;
        transform: translateX(-50%);
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

// Prevent cover block content from overflowing on mobile
.td-cover-block {
    overflow-x: hidden;
}

html,
body {
    overflow-x: hidden;
}